body
  font-family: 'Rajdhani', sans-serif
  background-color: #444B6C
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 100%
  font-size: 24px
  color: #fff

  .container
    display: flex
    flex-wrap: wrap
    width: 300px
    margin-left: 349px
    margin-top: 2px


  #game_score
    display: flex
    width: 905px
    justify-content: center

  .opacity
    opacity: 0
    transition: opacity 0.5s linear


  .box_one
    width: 100px
    height: 100px
    background: red
    margin-right: 10px
    margin-bottom: 10px

  .box_two
    width: 100px
    height: 100px
    background: yellow


  .box_three
    width: 100px
    height: 100px
    background: blue
    margin-right: 10px


  .box_four
    width: 100px
    height: 100px
    background: green


  .white-border
    border: 2px solid #fff

  #score
    display: block
    margin: 10px auto
  .score-display
    display: inline-block
    background-color: #000
    margin: 10px auto
    width: 20%
